/*
style.css
TrailMapInterface V1.0
 */

body {
    font-family: Arial, sans-serif;
    background-color: white; /*#4b0082 Dark Purple */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: black; /*#ffd700 Gold */
    font-family: 'Arial Black', sans-serif;
    font-size: 2em;
}

h2 {
    color: black; /*#ffd700 Gold */
    font-family: 'Arial Black', sans-serif;
    font-size: 2em;
}

button {
    padding: 4vw;
    margin: 2vw;
    cursor: pointer;
    max-width: 200px;
}

@media screen and (min-width: 428px) {
    button {
        padding: 3vw;
        margin: 1.5vw;
        font-size: 1.5em;
    }
}

/* Open buttons for easiest trails */
#open_button_chase_it {
    background-color: #4CAF50; /* Green */
    color: white;
}

#open_button_crackerjack {
    background-color: #4CAF50; /* Green */
    color: white;
}

#open_button_learning_zone {
    background-color: #4CAF50; /* Green */
    color: white;
}

#open_button_lower_boulevard {
    background-color: #4CAF50; /* Green */
    color: white;
}

#open_button_lower_east_meadow {
    background-color: #4CAF50; /* Green */
    color: white;
}

#open_button_lower_thruway {
    background-color: #4CAF50; /* Green */
    color: white;
}

#open_button_plaza {
    background-color: #4CAF50; /* Green */
    color: white;
}

#open_button_proutys_past {
    background-color: #4CAF50; /* Green */
    color: white;
}

#open_button_run_around_1 {
    background-color: #4CAF50; /* Green */
    color: white;
}

#open_button_run_around_2 {
    background-color: #4CAF50; /* Green */
    color: white;
}

#open_button_run_around_3 {
    background-color: #4CAF50; /* Green */
    color: white;
}

#open_button_run_around_4 {
    background-color: #4CAF50; /* Green */
    color: white;
}

#open_button_school_slope {
    background-color: #4CAF50; /* Green */
    color: white;
}

#open_button_woods_run {
    background-color: #4CAF50; /* Green */
    color: white;
}

/* Delayed buttons for easiest trails */
#delayed_button_chase_it {
    background-color: #ccb62a; /* Yellow */
    color: white;
}

#delayed_button_crackerjack {
    background-color: #ccb62a; /* Yellow */
    color: white;
}

#delayed_button_learning_zone {
    background-color: #ccb62a; /* Yellow */
    color: white;
}

#delayed_button_lower_boulevard {
    background-color: #ccb62a; /* Yellow */
    color: white;
}

#delayed_button_lower_east_meadow {
    background-color: #ccb62a; /* Yellow */
    color: white;
}

#delayed_button_lower_thruway {
    background-color: #ccb62a; /* Yellow */
    color: white;
}

#delayed_button_plaza {
    background-color: #ccb62a; /* Yellow */
    color: white;
}

#delayed_button_proutys_past {
    background-color: #ccb62a; /* Yellow */
    color: white;
}

#delayed_button_run_around_1 {
    background-color: #ccb62a; /* Yellow */
    color: white;
}

#delayed_button_run_around_2 {
    background-color: #ccb62a; /* Yellow */
    color: white;
}

#delayed_button_run_around_3 {
    background-color: #ccb62a; /* Yellow */
    color: white;
}

#delayed_button_run_around_4 {
    background-color: #ccb62a; /* Yellow */
    color: white;
}

#delayed_button_school_slope {
    background-color: #ccb62a; /* Yellow */
    color: white;
}

#delayed_button_woods_run {
    background-color: #ccb62a; /* Yellow */
    color: white;
}

/* Closed buttons for easiest trails */
#closed_button_chase_it {
    background-color: #f44336; /* Red */
    color: white;
}

#closed_button_crackerjack {
    background-color: #f44336; /* Red */
    color: white;
}

#closed_button_learning_zone {
    background-color: #f44336; /* Red */
    color: white;
}

#closed_button_lower_boulevard {
    background-color: #f44336; /* Red */
    color: white;
}

#closed_button_lower_east_meadow {
    background-color: #f44336; /* Red */
    color: white;
}

#closed_button_lower_thruway {
    background-color: #f44336; /* Red */
    color: white;
}

#closed_button_plaza {
    background-color: #f44336; /* Red */
    color: white;
}

#closed_button_proutys_past {
    background-color: #f44336; /* Red */
    color: white;
}

#closed_button_run_around_1 {
    background-color: #f44336; /* Red */
    color: white;
}

#closed_button_run_around_2 {
    background-color: #f44336; /* Red */
    color: white;
}

#closed_button_run_around_3 {
    background-color: #f44336; /* Red */
    color: white;
}

#closed_button_run_around_4 {
    background-color: #f44336; /* Red */
    color: white;
}

#closed_button_school_slope {
    background-color: #f44336; /* Red */
    color: white;
}

#closed_button_woods_run {
    background-color: #f44336; /* Red */
    color: white;
}


#button_container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#button_container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}