/*
style.css
TrailMapInterface V1.0
*/

body {
    font-family: Arial, sans-serif;
    background-color: white; /*#4b0082 Dark Purple */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: black; /*#ffd700 Gold */
    font-family: 'Arial Black', sans-serif;
    font-size: 2em;
}

h2 {
    color: black; /*#ffd700 Gold */
    font-family: 'Arial Black', sans-serif;
    font-size: 2em;
}

button {
    padding: 4vw;
    margin: 2vw;
    cursor: pointer;
    max-width: 50px;
}

@media screen and (min-width: 428px) {
    button {
        padding: 3vw;
        margin: 1.5vw;
        font-size: 1.5em;
    }
}

/*
Open buttons for easiest trails
*/
#open_button_chase_it {
    background-color: #4CAF50; /* Green */
    color: white;
}

#open_button_crackerjack {
    background-color: #4CAF50; /* Green */
    color: white;
}

#open_button_learning_zone {
    background-color: #4CAF50; /* Green */
    color: white;
}

#open_button_lower_boulevard {
    background-color: #4CAF50; /* Green */
    color: white;
}

#open_button_lower_east_meadow {
    background-color: #4CAF50; /* Green */
    color: white;
}

#open_button_lower_thruway {
    background-color: #4CAF50; /* Green */
    color: white;
}

#open_button_plaza {
    background-color: #4CAF50; /* Green */
    color: white;
}

#open_button_proutys_past {
    background-color: #4CAF50; /* Green */
    color: white;
}

#open_button_run_around_1 {
    background-color: #4CAF50; /* Green */
    color: white;
}

#open_button_run_around_2 {
    background-color: #4CAF50; /* Green */
    color: white;
}

#open_button_run_around_3 {
    background-color: #4CAF50; /* Green */
    color: white;
}

#open_button_run_around_4 {
    background-color: #4CAF50; /* Green */
    color: white;
}

#open_button_school_slope {
    background-color: #4CAF50; /* Green */
    color: white;
}

#open_button_woods_run {
    background-color: #4CAF50; /* Green */
    color: white;
}

/*
Delayed buttons for easiest trails
*/
#delayed_button_chase_it {
    background-color: #ccb62a; /* Yellow */
    color: white;
}

#delayed_button_crackerjack {
    background-color: #ccb62a; /* Yellow */
    color: white;
}

#delayed_button_learning_zone {
    background-color: #ccb62a; /* Yellow */
    color: white;
}

#delayed_button_lower_boulevard {
    background-color: #ccb62a; /* Yellow */
    color: white;
}

#delayed_button_lower_east_meadow {
    background-color: #ccb62a; /* Yellow */
    color: white;
}

#delayed_button_lower_thruway {
    background-color: #ccb62a; /* Yellow */
    color: white;
}

#delayed_button_plaza {
    background-color: #ccb62a; /* Yellow */
    color: white;
}

#delayed_button_proutys_past {
    background-color: #ccb62a; /* Yellow */
    color: white;
}

#delayed_button_run_around_1 {
    background-color: #ccb62a; /* Yellow */
    color: white;
}

#delayed_button_run_around_2 {
    background-color: #ccb62a; /* Yellow */
    color: white;
}

#delayed_button_run_around_3 {
    background-color: #ccb62a; /* Yellow */
    color: white;
}

#delayed_button_run_around_4 {
    background-color: #ccb62a; /* Yellow */
    color: white;
}

#delayed_button_school_slope {
    background-color: #ccb62a; /* Yellow */
    color: white;
}

#delayed_button_woods_run {
    background-color: #ccb62a; /* Yellow */
    color: white;
}

/*
Closed buttons for easiest trails
*/
#closed_button_chase_it {
    background-color: #f44336; /* Red */
    color: white;
}

#closed_button_crackerjack {
    background-color: #f44336; /* Red */
    color: white;
}

#closed_button_learning_zone {
    background-color: #f44336; /* Red */
    color: white;
}

#closed_button_lower_boulevard {
    background-color: #f44336; /* Red */
    color: white;
}

#closed_button_lower_east_meadow {
    background-color: #f44336; /* Red */
    color: white;
}

#closed_button_lower_thruway {
    background-color: #f44336; /* Red */
    color: white;
}

#closed_button_plaza {
    background-color: #f44336; /* Red */
    color: white;
}

#closed_button_proutys_past {
    background-color: #f44336; /* Red */
    color: white;
}

#closed_button_run_around_1 {
    background-color: #f44336; /* Red */
    color: white;
}

#closed_button_run_around_2 {
    background-color: #f44336; /* Red */
    color: white;
}

#closed_button_run_around_3 {
    background-color: #f44336; /* Red */
    color: white;
}

#closed_button_run_around_4 {
    background-color: #f44336; /* Red */
    color: white;
}

#closed_button_school_slope {
    background-color: #f44336; /* Red */
    color: white;
}

#closed_button_woods_run {
    background-color: #f44336; /* Red */
    color: white;
}

/*
Open buttons for lifts
*/
#open_button_sun_mountain_express {
    background-color: #4CAF50; /* Green */
    color: white;
}
#open_button_plaza_chairlift {
    background-color: #4CAF50; /* Green */
    color: white;
}
#open_button_sun_chairlift {
    background-color: #4CAF50; /* Green */
    color: white;
}
#open_button_alpine_chairlift {
    background-color: #4CAF50; /* Green */
    color: white;
}
#open_button_east_meadow_chairlift {
    background-color: #4CAF50; /* Green */
    color: white;
}
#open_button_star_carpet {
    background-color: #4CAF50; /* Green */
    color: white;
}
#open_button_blue_ribbon_quad {
    background-color: #4CAF50; /* Green */
    color: white;
}
#open_button_lords_prayer_tbar {
    background-color: #4CAF50; /* Green */
    color: white;
}
#open_button_kids_carpet {
    background-color: #4CAF50; /* Green */
    color: white;
}


/*
Delay buttons for lifts
*/
#delayed_button_sun_mountain_express {
    background-color: #ccb62a; /* Yellow */
    color: white;
}
#delayed_button_plaza_chairlift {
    background-color: #ccb62a; /* Yellow */
    color: white;
}
#delayed_button_sun_chairlift {
    background-color: #ccb62a; /* Yellow */
    color: white;
}
#delayed_button_alpine_chairlift {
    background-color: #ccb62a; /* Yellow */
    color: white;
}
#delayed_button_east_meadow_chairlift {
    background-color: #ccb62a; /* Yellow */
    color: white;
}
#delayed_button_star_carpet {
    background-color: #ccb62a; /* Yellow */
    color: white;
}
#delayed_button_blue_ribbon_quad {
    background-color: #ccb62a; /* Yellow */
    color: white;
}
#delayed_button_lords_prayer_tbar {
    background-color: #ccb62a; /* Yellow */
    color: white;
}
#delayed_button_kids_carpet {
    background-color: #ccb62a; /* Yellow */
    color: white;
}

/*
Closed buttons for lifts
*/
#closed_button_sun_mountain_express {
    background-color: #f44336; /* Red */
    color: white;
}
#closed_button_plaza_chairlift {
    background-color: #f44336; /* Red */
    color: white;
}
#closed_button_sun_chairlift {
    background-color: #f44336; /* Red */
    color: white;
}
#closed_button_alpine_chairlift {
    background-color: #f44336; /* Red */
    color: white;
}
#closed_button_east_meadow_chairlift {
    background-color: #f44336; /* Red */
    color: white;
}
#closed_button_star_carpet {
    background-color: #f44336; /* Red */
    color: white;
}
#closed_button_blue_ribbon_quad {
    background-color: #f44336; /* Red */
    color: white;
}
#closed_button_lords_prayer_tbar {
    background-color: #f44336; /* Red */
    color: white;
}
#delayed_button_sun_mountain_express {
    background-color: #11557C; /* Red */
    color: white;
}

/*
Button containers
*/
#button_container_easiest_trails {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#button_container_lifts {
    display: flex;
    flex-direction: column;
    align-items: center;
}