<!--
buttons.html
TrailMapInterface V1.0
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <h1>Bromley Mountain Trail Status</h1>

    <!-- Container for easiest trail rows -->
    <div id="button_container1">
        <!-- First row of easy trail buttons -->
        <div id="chase_it_buttons">
            <button id="open_button_chase_it">Open Trail</button> <!-- triggers green check LEDS -->
            <button id="closed_button_chase_it">Closed Trail</button> <!-- triggers red x LEDS -->
            <button id="delayed_button_chase_it">Delayed Trail</button> <!-- triggers yellow cross LEDS -->
        </div>

        <!-- Second row of easy trail buttons -->
        <div id="crackerjack_buttons">
            <button id="open_button_crackerjack">Open Trail</button>
            <button id="closed_button_crackerjack">Closed Trail</button>
            <button id="delayed_button_crackerjack">Delayed Trail</button>
        </div>

        <!-- Third row of easy trail buttons -->
        <div id="learning_zone_buttons">
            <button id="open_button_learning_zone">Open Trail</button>
            <button id="closed_button_learning_zone">Closed Trail</button>
            <button id="delayed_button_learning_zone">Delayed Trail</button>
        </div>

        <!-- Fourth row of easy trail buttons -->
        <div id="lower_boulevard_buttons">
            <button id="open_button_lower_boulevard">Open Trail</button>
            <button id="closed_button_lower_boulevard">Closed Trail</button>
            <button id="delayed_button_lower_boulevard">Delayed Trail</button>
        </div>

        <!-- Fifth row of easy trail buttons -->
        <div id="lower_east_meadow_buttons">
            <button id="open_button_lower_east_meadow">Open Trail</button>
            <button id="closed_button_lower_east_meadow">Closed Trail</button>
            <button id="delayed_button_lower_east_meadow">Delayed Trail</button>
        </div>

        <!-- Sixth row of easy trail buttons -->
        <div id="lower_thruway_buttons">
            <button id="open_button_lower_thruway">Open Trail</button>
            <button id="closed_button_lower_thruway">Closed Trail</button>
            <button id="delayed_button_lower_thruway">Delayed Trail</button>
        </div>

        <!-- Seventh row of easy trail buttons -->
        <div id="plaza_buttons">
            <button id="open_button_plaza">Open Trail</button>
            <button id="closed_button_plaza">Closed Trail</button>
            <button id="delayed_button_plaza">Delayed Trail</button>
        </div>

        <!-- Eighth row of easy trail buttons -->
        <div id="proutys_past_buttons">
            <button id="open_button_proutys_past">Open Trail</button>
            <button id="closed_button_proutys_past">Closed Trail</button>
            <button id="delayed_button_proutys_past">Delayed Trail</button>
        </div>

        <!-- Ninth row of easy trail buttons -->
        <div id="run_around_1_buttons">
            <button id="open_button_run_around_1">Open Trail</button>
            <button id="closed_button_run_around_1">Closed Trail</button>
            <button id="delayed_button_run_around_1">Delayed Trail</button>
        </div>

        <!-- Tenth row of easy trail buttons -->
        <div id="run_around_2_buttons">
            <button id="open_button_run_around_2">Open Trail</button>
            <button id="closed_button_run_around_2">Closed Trail</button>
            <button id="delayed_button_run_around_2">Delayed Trail</button>
        </div>

        <!-- Eleventh row of easy trail buttons -->
        <div id="run_around_3_buttons">
            <button id="open_button_run_around_3">Open Trail</button>
            <button id="closed_button_run_around_3">Closed Trail</button>
            <button id="delayed_button_run_around_3">Delayed Trail</button>
        </div>

        <!-- Twelfth row of easy trail buttons -->
        <div id="run_around_4_buttons">
            <button id="open_button_run_around_4">Open Trail</button>
            <button id="closed_button_run_around_4">Closed Trail</button>
            <button id="delayed_button_run_around_4">Delayed Trail</button>
        </div>

        <!-- Thirteenth row of easy trail buttons -->
        <div id="school_slope_buttons">
            <button id="open_button_school_slope">Open Trail</button>
            <button id="closed_button_school_slope">Closed Trail</button>
            <button id="delayed_button_school_slope">Delayed Trail</button>
        </div>

        <!-- Fourteenth row of easy trail buttons -->
        <div id="woods_run_buttons">
            <button id="open_button_woods_run">Open Trail</button>
            <button id="closed_button_woods_run">Closed Trail</button>
            <button id="delayed_button_woods_run">Delayed Trail</button>
        </div>
    </div>

    <h2>Bromley Mountain Lift Status</h2>

    <!-- Container for lift rows -->
    <div id="button_container2">
        <!-- First row of lift buttons -->
        <div id="sun_mountain_express_buttons">
            <button id="open_button_sun_mountain_express">Open Lift</button>
            <button id="closed_button_sun_mountain_express">Closed Lift</button>
            <button id="delayed_button_sun_mountain_express">Delayed Lift</button>
        </div>

        <!-- Second row of lift buttons -->
        <div id="plaza_chairlift_buttons">
            <button id="open_button_plaza_chairlift">Open Lift</button>
            <button id="closed_button_plaza_chairlift">Closed Lift</button>
            <button id="delayed_button_plaza_chairlift">Delayed Lift</button>
        </div>

        <!-- Third row of lift buttons -->
        <div id="sun_chairlift_buttons">
            <button id="open_button_sun_chairlift">Open Lift</button>
            <button id="closed_button_sun_chairlift">Closed Lift</button>
            <button id="delayed_button_sun_chairlift">Delayed Lift</button>
        </div>

        <!-- Fourth row of lift buttons -->
        <div id="alpine_chairlift_buttons">
            <button id="open_button_alpine_chairlift">Open Lift</button>
            <button id="closed_button_alpine_chairlift">Closed Lift</button>
            <button id="delayed_button_alpine_chairlift">Delayed Lift</button>
        </div>

        <!-- Fifth row of lift buttons -->
        <div id="east_meadow_chairlift_buttons">
            <button id="open_button_east_meadow_chairlift">Open Lift</button>
            <button id="closed_button_east_meadow_chairlift">Closed Lift</button>
            <button id="delayed_button_east_meadow_chairlift">Delayed Lift</button>
        </div>

        <!-- Sixth row of lift buttons -->
        <div id="star_carpet_buttons">
            <button id="open_button_star_carpet">Open Lift</button>
            <button id="closed_button_star_carpet">Closed Lift</button>
            <button id="delayed_button_star_carpet">Delayed Lift</button>
        </div>

        <!-- Seventh row of lift buttons -->
        <div id="blue_ribbon_quad_buttons">
            <button id="open_button_blue_ribbon_quad">Open Lift</button>
            <button id="closed_button_blue_ribbon_quad">Closed Lift</button>
            <button id="delayed_button_blue_ribbon_quad">Delayed Lift</button>
        </div>

        <!-- Eighth row of lift buttons -->
        <div id="lords_prayer_tbar_buttons">
            <button id="open_button_lords_prayer_tbar">Open Lift</button>
            <button id="closed_button_lords_prayer_tbar">Closed Lift</button>
            <button id="delayed_button_lords_prayer_tbar">Delayed Lift</button>
        </div>

        <!-- Ninth row of lift buttons -->
        <div id="kids_carpet_buttons">
            <button id="open_button_kids_carpet">Open Lift</button>
            <button id="closed_button_kids_carpet">Closed Lift</button>
            <button id="delayed_button_kids_carpet">Delayed Lift</button>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/static/buttons.js"></script>
</body>
</html>